
.loading-page-container {
  position: relative;
  overflow: hidden;
}

.loading-screen-container {
  padding: 10px;
  height: 20px;
  position: absolute;
  width: 200px;
  border-radius: 25px;
  box-shadow: 0px 0px 10px rgba(255, 81, 255, 1);
  border: 1px solid #fff;
  overflow: hidden;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.bar-container {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}

.bar-fill {
  position: absolute;
  width: 110%;
  height: 110%;
  border-radius: 25px;
  left: 50%;
  top: 50%;
  background-color: rgba(255, 81, 255, 1);
  transform: translate(-50%, -50%);
}

.bar-container .text-container {
  font-size: 12px;
  text-align: center;
  font-weight: 700;
  color: #040000 !important;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.text-container {
  display: grid;
  place-content: center;
}